# Ignore all target directories, but include specific items we need
target/
!target/*.jar  # Do not ignore JAR files in the target directory

# Maven wrapper files
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA project files
.idea/
*.iws
*.iml
*.ipr
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# Eclipse IDE files
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans IDE files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code IDE files
.vscode/

# Operating system-specific files
.DS_Store  # macOS

# Ignore temporary files created by the system or tools
*.log
*.tmp
*.bak
*.swp

# Node.js related (if applicable)
node_modules/
npm-debug.log*

# Ignore compiled class files
*.class

# Ignore package-lock.json (for Node.js, if relevant)
/package-lock.json
/pnpm-lock.yaml
